$red: #f44336;
$pink: #E91E63;
$purple: #9C27B0;
$deep-purple: #673AB7;
$indigo: #3F51B5;
$blue: #2196F3;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$lime: #CDDC39;
$yellow: #FFEB3B;
$amber: #FFC107;
$orange: #FF9800;
$deep-orange: #FF5722;
$brown: #795548;
$grey: #9E9E9E;
$blue-grey: #607D8B;
$logmod-baseline: 24px;
$logmod-bg: rgba(#000, 0.2);
$logmod-zindex: 1;


// -----------------------------------------------------------------------------
//  BORDERS
// -----------------------------------------------------------------------------
$border-color: #AAA;
$border-color-light: #BBB;
$line: #333;

// -----------------------------------------------------------------------------
//  FONTS
// -----------------------------------------------------------------------------
$font-color: #333;
$font-color-light: #777;


// -----------------------------------------------------------------------------
//  MAIN
// -----------------------------------------------------------------------------
$main-color: rgb(96,202,145);
$main-color-light: rgb(96,202,145);
$main-color-transparency: rgba(96,202,145, .4);

// -----------------------------------------------------------------------------
//  ERRORS
// -----------------------------------------------------------------------------
$error: red;
